<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
</div>

<div>
  <ul class="timeline">
    <li ng-repeat="thing in things">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            {{thing.summary}}
          </h4>
          <p class="small text-muted">
            <i class="glyphicon glyphicon-time"></i>
            <span>{{thing.date | date : format : shortDate}}</span>
          </p>
        </div>
        <div class="timeline-body">
          <p ng-show="thing.description">
            {{thing.description}}
          </p>
          <ul ng-show="thing.files">
            <li ng-repeat="file in thing.files">
              <span>{{file.filename}}</span>
            </li>
          </ul>
          <ul ng-show="thing.tags" class="list-inline">
            <li ng-repeat="tag in thing.tags">
              <span class="badge">{{tag}}</span>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
